@using System.Web.Optimization

@model NoidaAuthority.PMS.Web.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}
@{
    Layout = null;
    ViewBag.Title = "Log in";
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Forgot Password</title>

    @Styles.Render("~/Content/kendo")
    @Styles.Render("~/Content/others")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/others")

</head>

<body>

    <!-- start header -->
    <div class="row-fluid" id="header">
        <div class="col-md-10 col-md-offset-1">
            <div class="row-fluid">
                <div id="page_head" class="col-md-8" style="width: 15%">
                    <a href="/">
                        <img src="@Url.Content("~/Content/Images/logo.png")" style="height: 55px; margin-bottom: 1px;" alt="" border="0">
                    </a>
        </div>
                <div class="logo-text">
                    New Okhla Industrial Development Authority<br>
                    <span style="font-size: 11px; font-weight: bold;">[ISO 9001:2000 &amp; ISO 14001:2004 Certified]</span>
    </div>
            </div>
        </div>
    </div>
    <div id="content">
        <div class="row-fluid" style="height: 66%;">
            <div class="col-md-10 col-md-offset-1">
                <nav class="hidden-xs hidden-sm navbar-custom">
                    <ul class="nav nav-pills">
                        <li><a href="/" tabindex="1">&nbsp;</a>@*<a href="/" tabindex="1">Home</a>*@</li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-8 col-md-offset-2">
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <table>

                <tr>
                    <td colspan="3">
                        <h2>Forget Your Password?</h2>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="3">
                        <span> Please enter the e-mail address </span>
                        <span></span>
                    </td>
                </tr>
                <tr>
                    <td width="20%"></td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.Email)
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.Email, new { @class = "k-textbox", style = "width:300px" })
                                    @Html.ValidationMessageFor(model => model.Email)
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <input type="submit" class="btn btn-success btn-sm" value="Submit" />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td width="20%"></td>
                </tr>
            </table>

        }
            </div>
            <hr>
        </div>
    </div>
    <!-- end header -->

            <div id="footerblockleft">
                &copy; NA ,All rights reserved.
            </div>



</body>

</html>

