@model NoidaAuthority.PMS.Web.Models.PropertyDetail


<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3"><label class="nw-lbl-lft">Allottee Name:</label></div>
            <div class="col-md-3"><label class="nw-lbl-rht" id="lblName">@Model.Name </label></div>
            <div class="col-md-3"><label class="nw-lbl-lft">Sector:</label></div>
            <div class="col-md-3">
                @{
                    if (!string.IsNullOrEmpty(Model.Sector))
                    {
                        <label class="nw-lbl-rht" id="lbl">@Model.Sector</label>
                    }
                    else
                    {
                        <label class="nw-lbl-rht" id="lbl">NA</label>
                    }
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"><label class="nw-lbl-lft">Block:</label></div>
            <div class="col-md-3"><label class="nw-lbl-rht" id="lbl">@Model.Block</label></div>
            <div class="col-md-3"><label class="nw-lbl-lft">Property Number:</label></div>
            <div class="col-md-3"><label class="nw-lbl-rht">@Model.PropertyNumber</label></div>
        </div>
        <div class="row">
            <div class="col-md-3"><label class="nw-lbl-lft">Plot Number:</label></div>
            <div class="col-md-3">
                @{
                    if (!string.IsNullOrEmpty(Model.PlotNumber))
                    {
                        <label class="nw-lbl-rht" id="lbl">@Model.PlotNumber</label>
                    }
                    else
                    {
                        <label class="nw-lbl-rht" id="lbl">NA</label>
                    }
                }
            </div>
            <div class="col-md-3"><label class="nw-lbl-lft">Customer Address:</label></div>
            <div class="col-md-3"><label class="nw-lbl-rht" id="lbl">@Model.CustomerAddress</label></div>
        </div>

    </div>
</div>

